Telegram_ChatBot.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -928,
        -80
      ],
      "id": "7dc22654-fe41-46fb-8fa4-6099424550fa",
      "name": "Telegram Trigger",
      "webhookId": "e403a436-c34b-4c13-92a5-37307793f267",
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "AkVKO9NRvjmT9Jvm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -672,
        -80
      ],
      "id": "3485fbcd-ea74-4526-a838-99d92f401dc1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -672,
        144
      ],
      "id": "eb6feb9e-0230-4140-8acc-dd70157b8686",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "S4FvceLyYEFwCNiA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -320,
        -80
      ],
      "id": "e2670b89-f7b2-4c06-b787-d0fa05228b7d",
      "name": "Send a text message",
      "webhookId": "4c6eed0b-9ca9-4eff-b6e1-2361e2e401a1",
      "credentials": {
        "telegramApi": {
          "id": "AkVKO9NRvjmT9Jvm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -576,
        224
      ],
      "id": "729c5e77-1c72-4ea7-a677-1f6a12d3f6f4",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0b182266-9bca-4fc1-9595-ddfd364caa77",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d18615feb1b94db0079342ce463623955aba33c8552958b2f29f397ff0b245f2"
  },
  "id": "vGGN2ID9QaG5wuI2",
  "tags": []
}